endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Set Tags
sets tags "default, esx, esx legacy, official, roleplay"

# Optional Editable Settings
# --------------------------
# You may edit the following:

sv_licenseKey ""
sv_hostname "pTemplate"
sets sv_projectName "pTemplate"
sets sv_projectDesc "The official recipe of the most popular FiveM RP framework, containing Jobs, Housing, Vehicles & more!"
set mysql_connection_string "mysql://root@localhost/ESXLegacy_B4F3E3?charset=utf8mb4"
set Developer "Pogi"
load_server_icon esxLogo.png
sv_maxclients 48
sets locale "root-AQ" 
sv_enforceGameBuild 3258
set resources_useSystemChat true

# System Administrators
# ---------------------
# Add system admins

add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:10475861 group.admin #EveningRP
add_principal identifier.discord:1029182893546811433 group.admin #EveningRP

# pma-voice Config
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# security-convars
# ----------------
sv_enableNetworkedSounds false
sv_enableNetworkedScriptEntityStates false
sv_enableNetworkedPhoneExplosions false
sv_filterRequestControl 2

# ESX Language (edit to change the language of ESX)
# -----------------------------------------------------------
## Umcomment to set your own locale,
## if not, it will use the language you have selected in txAdmin.
#setr esx:locale "en"

# Default & Standalone Resources
# ------------------------------
ensure chat
ensure hardcap
ensure oxmysql
ensure ox_lib
ensure spawnmanager
ensure es_extended
ensure [core]
ensure [standalone]
ensure [esx_addons]
